:root {
  --verde-primario: #4CAF50;
  --verde-chiaro: #A5D6A7;
  --sabbia: #F5F5DC;
  --marrone-soft: #8D6E63;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  color: #2c5e45;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  z-index: 9999;
  transition: opacity 0.4s ease;
}

.bg-sabbia {
  background-color: var(--sabbia) !important;
}

.text-marrone {
  color: var(--marrone-soft);
}

.btn-success {
  background-color: var(--verde-primario);
  border-color: var(--verde-primario);
}

h1,  label, button, p {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h1 {
  color: #2e7d32;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

h2 {
  font-weight: bold; /*700;*/
  text-align: center;
  font-size: 1.9rem;
  color: #2e7d32;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin-bottom: 1rem;
  background: linear-gradient(to right, #43a047, #81c784);  /*background: linear-gradient(to right, #43a047, #66bb6a);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /*color: transparent;*/
}


.list-group-item {
  background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(245,255,245,0.2));
  /*background: rgba(255, 255, 255, 0.25);  *//* più trasparente */
  border: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 2px;         /* prima era 10px */
  padding: 6px 10px;         /* più compatto */
}


.reached input[type="radio"]:checked::before {
  content: "✔️ ";
  position: absolute;
  margin-left: -24px;
  font-size: 18px;
}


.box-sospesa {
  background: rgba(255, 255, 255, 0.6);/* bianco traslucido */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.box-sospesa:hover {
  transform: scale(1.05) /*  transform: translateY(-2px); */
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.25);
}



.reached {
  color: #7b8b87;   /* inveve di color: #6c757d;*/
  opacity: 0.85;

  font-style: italic;
  /* rimuoviamo la barratura se vuoi */
  text-decoration: none;   /* invece di text-decoration: line-through;*/
}


input[type="radio"]:disabled {
  filter: grayscale(100%) brightness(90%);
  opacity: 0.6;
  cursor: not-allowed;
}

background: linear-gradient(to right, #4caf50, #2e7d32);

.contenitore-home {
  background-color: rgba(255, 255, 255, 0.8); /* bianco trasparente */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

body {
  background-image: url("/static/img/sfondo_green_game.webp");
  background-size: cover;     /* copre tutta la pagina*/
  background-position: center; /* centra l'immagine */
  background-repeat: no-repeat; /* evita ripetizioni */
  font-family: 'Segoe UI', sans-serif;
  color: #1e392a;
  margin: 0;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.container-obiettivi {
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 20px; /* spazio per evitare il taglio in alto */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 768px) {
  .container-obiettivi {
    padding-top: env(safe-area-inset-top, 20px);
  }
}


.box-login {
  background-color: rgba(255, 255, 255, 0.88);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.box-login h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #2c5e45;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  background-color: #43a047; /* verde eco-friendly */
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease;

}

button:hover {
  background-color: #2e7d32;
  transform: scale(1.05);
}

.baffetto {
  color: #2e7d32 !important; /* verde scuro elegante mantenuto anche se genitore self-muted */
  font-size: 18px;
  margin-right: 6px;
}

.btn-sm {
  padding: 6px 14px;
  font-size: 0.9rem;
}

.badge-raggiunto {
  background-color: #cccccc;
  color: #1e392a;
}

.badge-attivo {
  background-color: #4caf50;
  color: white;!important
}

.badge-selezionato {
  background-color: #81c784; /* verde più chiaro */
  color: #1e392a;
  font-weight: 600;
}

