:root {
  --verde-primario: #4CAF50;
  --verde-chiaro: #A5D6A7;
  --sabbia: #F5F5DC;
  --marrone-soft: #8D6E63;
}

.bg-sabbia {
  background-color: var(--sabbia) !important;
}

.text-marrone {
  color: var(--marrone-soft);
}

.btn-success {
  background-color: var(--verde-primario);
  border-color: var(--verde-primario);
}

.contenitore-home {
  background-color: rgba(255, 255, 255, 0.8); /* bianco trasparente */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

body {
    background-image: url("/static/img/sfondo_green_game.jpg");
    background-size: cover;         /* Copre tutta la pagina */
    background-position: center;    /* Centra l'immagine */
    background-repeat: no-repeat;   /* Evita ripetizioni */
}
